<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>All Data</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/Data-Handler.js}"></script>
</head>

<body>
    <div class="shortContainer">

        <h3>Filter And Sorting </h3>
        <label for="namef">Name: </label>
        <input type="text" name="namef" id="namef">
        <br>
        <label for="amountf">Amount: </label>
        <input type="number" name="amountf" id="amountf">
        <select name="amountsel" id="amountsel">
            <option value="equals">Equals</option>
            <option value="greater"></option>
            <option value="less"> Less Than</option>
        </select>
        <br>
        <label for="datef">Date: </label>
        <input type="date" name="datef" id="datef">
        <select name="datesel" id="datesel">
            <option value="on">On</option>
            <option value="before">Before</option>
            <option value="after">After</option>
        </select>
        <br>
        <label for="typeselect">Type :</label>
        <select name="typesel" id="typeselect">
            <option value="">Both</option>
            <option value="income">Income</option>
            <option value="expense">Expense</option>
        </select>
        <br>
        <label for="pmethodsel">Payment Method: </label>
        <select name="pmethodsel" id="pmethodsel">
            <option value="">Payment Method</option>
            <option value="cash">Cash</option>
            <option value="upi">UPI</option>
            <option value="card">Card</option>
            <option value="banktrans">Bank Transfer</option>
        </select>
        <br>
        <input type="submit" id="filterBtn" value="Apply Filter">
        <input type="reset" value="Clear Filter">
    </div>

    <div class="container">
        <h1>Transactions</h1>
        <table id="dataTable" border="1" cellpadding="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Payment Method</th>
                    <th>Category</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</body>

</html>