<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
</head>

<body>
    <div class="container" align="center">
        <h1>Expense Tracker</h1>

        <a th:href="@{/data}" ><button>Show my data</button></a>

        <form action="#" th:action="@{/submit}" th:object="${dataSchema}" method="post">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" th:field="*{name}">
            <br>
            <label for="amount">Amount</label>
            <input type="number" name="amount" id="amount" th:field="*{amount}">
            <br>
            <label for="date">Date</label>
            <input type="date" name="date" id="date" th:field="*{date}">
            <br>
            <label for="type">Type</label>
            <select name="type"id="type"  th:field="*{type}">
                <option value="" >Select</option>
                <option value="income">Income</option>
                <option value="expense">Expense</option>
            </select>

            <label for="category">Category</label>
            <select name="category" id="category"  th:field="*{Category}">
                <option value="">Select</option>
            </select>
            <label for="pMethod">Payment Method</label>
            <select name="pMethod" id="pMethod" th:field="*{paymentMethod}">
                <option value="cash">Cash</option>
                <option value="upi">UPI</option>
                <option value="card">Card</option>
                <option value="bankTransfer">Bank Transfer</option>
            </select>

            <label for="note">Note</label>
            <textarea name="note" id="note" cols="30" rows="10" placeholder="Write Something you want you should remember about this transaction" th:field="*{note}"></textarea>
            <input type="submit" value="Submit">
        </form>

    </div>

</body>

</html>